﻿@model AuctionHouse.Models.ProductViewModel

<div class="col-sm-12 padding-right">
    <div class="product-details">
        <!--product-details-->
        <div class="col-sm-5">
            <div class="view-product">
                @{ if (Model.ImageUrl != "")
                    {
                        <a href="@Url.Action("GetProduct", "Product", new { id = Model.Id })"> <img src="~/images/products/@Model.ImageUrl " alt="" /></a>
                    }
                    else
                    {
                        <a href="@Url.Action("GetProduct", "Product", new { id = Model.Id })"> <img src="~/images/products/noimages.png" alt="" /></a>
                    }}        
            </div>
        </div>
        <div class="col-sm-7">
            <div class="product-information">
                <!--/product-information-->                
                <h2>@Model.Name</h2>
                <p>Category: @Model.Category.CategoryType</p>
                <span>
                    <span>Current bet:@Model.CurrentBet</span>
                    @{ if (HttpContext.Current.User.Identity.IsAuthenticated)
                        {
                            <label>Your bet:</label>
                                            <input type="number" value="" name="CurrentBetToReturn" />
                                            <button type="button" class="btn btn-fefault cart" onclick="MakeBet(@Model.Id)">
                                                <i class="fa fa-shopping-cart"></i>
                                                Place bet
                                            </button>
                        }}
   
                </span>
                <p><b>Auction ends: </b>@Model.AuctionEndDate</p>
                <p><b>Buy out price: </b>@Model.BuyOut</p>
                <p><b>Payment method: </b>@Model.PaymentMethod.MethodType</p>
               
            </div><!--/product-information-->
        </div>
    </div><!--/product-details-->
    <h3 >@Model.Description</h3 >
</div>

<script type="text/javascript">
    function MakeBet(producrtId) {
        var betValue = $("[name=CurrentBetToReturn]").val();

        $.ajax({
            type: "POST",
            async: true,
            url: '@Url.Action("Create", "BetHistory")',
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({
                id: producrtId,
                bet: betValue
            }),
            success: function (data) {
                location.reload();
            }
        });
    }


</script>		