﻿
@model AuctionHouse.Models.PaymentMethodViewModel
<div class="row">
    @using (Html.BeginForm("Create", "PaymentMethod", FormMethod.Post))
    {
        <p>Enter payment method:</p>
        <input type="text" class="form-control" name="MethodType" placeholder="Method Type">
        <button type="submit" class="btn-default">Create</button>
    }
</div>