﻿@model IEnumerable<AuctionHouse.Models.MarketViewModel>

@{ foreach (var item in Model)
    {
        <div class="row">       

            <div class="col-sm-2">@item.Name</div>
            <div class="col-sm-2"><a href="@Url.Action("GetProducts", "Market", new { id = item.Id })" class="btn-link">View Products</a></div>
            <div class="col-sm-2"><a href="@Url.Action("Delete", "Market", new { id = item.Id })" class="btn-link">Delete Market</a></div>
            <div class="col-sm-2"><a href="@Url.Action("Create", "Product", new { marketId = item.Id })" class="btn-link">Add Product</a></div>            
            <div class="col-sm-2"><a href="@Url.Action("ViewMarketOrder", "Order", new { marketId = item.Id })" class="btn-link">View orders</a></div>
        </div>
    }}


