﻿@model AuctionHouse.Models.StorageViewModel
<div class="row">
    @using (Html.BeginForm("Create", "Storage", FormMethod.Post))
    {
        <p>Enter storage name:</p>
        <input type="text" class="form-control" name="Name" placeholder="Name">
        <p>Enter storage address:</p>
        <input type="text" class="form-control" name="Address" placeholder="Address">
        <button type="submit" class="btn-default">Create</button>

    }
</div>