﻿@using AuctionHouse.Helpers
@model AuctionHouse.Models.PaginationProductViewModel

<div class="features_items">
    <!--features_items-->
    <h2 class="title text-center">@Model.Products.Select(x=>x.Category.CategoryType).FirstOrDefault()</h2>
    @{ foreach (var product in Model.Products)
        {
            <div class="col-sm-4">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            @{ if (product.ImageUrl != "")
                                {
                                    <a href="@Url.Action("GetProduct", "Product", new { id = product.Id })"> <img src="~/images/products/@product.ImageUrl " alt="" /></a>
                                }
                                else
                                {
                                    <a href="@Url.Action("GetProduct", "Product", new { id = product.Id })"> <img src="~/images/products/noimages.png" alt="" /></a>
                                }}
                            <h2>@product.Categories</h2>
                            <p>@product.Name</p>
                            <a href="" onclick="clickedProduct(@product.Id)" class="btn btn-default add-to-cart" data-toggle="modal" data-target="#myModal"><i class="fa fa-shopping-cart"></i>Place a bet</a>
                        </div>

                    </div>
                    <div class="choose">
                        <ul class="nav nav-pills nav-justified">
                            <li>Current bet: @product.CurrentBet</li>
                            <li>Buy out: @product.BuyOut</li>
                        </ul>
                    </div>
                </div>

            </div>
        }}


</div>
<div style="width:20%;margin: 0 auto; margin-bottom:5%;">
    @Html.PageLinks(Model.PageInfo, x => Url.Action("GetProducts", "Category", new { page = x }))
</div>

<script type="text/javascript">

    var productId;

    function clickedProduct(id) {
        window.productId = id;
    }

    function MakeBet() {
        var betValue = $("[name=CurrentBetToReturn]").val();
        $.ajax({
            type: "POST",
            async: true,
            url: '@Url.Action("Create", "BetHistory")',
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({
                id: window.productId,
                bet: betValue
            }),
            success: function (data) {
                location.reload();
            }
        });
    }


</script>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Place your bet</h4>
            </div>
            @{ if (!HttpContext.Current.User.Identity.IsAuthenticated)
                {
                 <h4 class="form-control">Please login or create account</h4>
                }
                else
                {
                    <div class="modal-body">
                        <input type="number" class="form-control" value="" name="CurrentBetToReturn">
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-default" onclick="MakeBet()" data-dismiss="modal">Make a bet</button>
                    </div>
                }}
           
        </div>

    </div>
</div>
